@mixin flex-column {
  display: flex;
  flex-direction: column;
}


@mixin center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin center-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

