@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

// COLORS

$color-light-grey: #F6F6F6;
$color-dark-grey: #BECDE3;
$color-blue-base: #0791E6;
$color-background: #121F3D;
$color-card-products: #24385B;
$color-grey-40: rgba(246, 246, 246, 0.4);
$color-green: #98CA3F;
$color-footer: #03091E;
$color-nav: #0C1633; /* usado */
$color-action-blue: #33B1FF;
$color-yellow: #F6C443;

// FONT
$font-base: 'Roboto';
$font-secundary: 'Lato';

// FONT-SIZE

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;

// PLACEHOLDER BUTTONS

%btn {
  font-family: $font-secundary;
  font-weight: 700;
  font-size: 18px;
  background-color: $color-green;
  color: black;
  width: 90%;
  height: 44px;
  border-radius: 7.03px;
  box-shadow: 0px 3.51456px 3.51456px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
  align-self: center;

  & p {
    margin: 0;
  }
}
