@import "../../sass/utilities/variables";

.profile-btn {
  font-family: $font-base;
  font-weight: 500;
  font-size: $font-size-sm;
  line-height: 16.41px;
  background-color: $color-background;
  color: $color-light-grey;
  width: 137px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid $color-blue-base;
  cursor: pointer;
  text-align: center;
  & p {
    margin: 0;
  }
}
