@import "./utilities/variables";
@import "./utilities/mixins";

body {
  background-color: $color-background;
}

.profile {
  @include flex-column;
  margin: 0 auto;
  
  font: {
    family: $font-base;
    weight: 700;
    size: $font-size-lg;
  }
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;

  &__cover {
    background: $color-blue-base;
    height: 211px;
    width: 100%;
  }

  &__middle {
    background: #0C1633;
    display: flex;
    width: 100%;
    padding: 10px 20px 10px;

  }

  &__tabs {
    width: 100%;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px;
    color: $color-grey-40;
    
    & p {
      line-height: 19px;
      font-weight: 500;
      font-size: $font-size-md;
      text-align: center;
      margin: 10px;
      padding: 0px 15px 10px;
    }

    &--active {
      color: $color-blue-base;
      border-bottom: 2px solid $color-blue-base;
    }
  }
    &__swag {
      width: 100%;
      height: 49px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 20px 10px;
      color: $color-grey-40;
    }  

}

@include mediaQuery;
