.box-img{
    width: 109px;
    height: 153px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgba(36, 56, 91, 1);
}