@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap");
.btn {
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  background-color: #98CA3F;
  color: black;
  width: 100%;
  height: 44px;
  border-radius: 7.03px;
  box-shadow: 0px 3.51456px 3.51456px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
  align-self: center;
}
.btn p {
  margin: 0;
}